.display
{
    width: 90%;
    height: 80px;

    border-radius: 5px;
    border: 5px white groove;

    background-color: black;
    /* background-color: white; */
    /* color: white; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.pri_display, .sec_display
{
    width: 95%;
    /* height: 75px; */
    font-size: 45px;
    text-align: right;

    /* background-color: green; */
    background-color: black;
    /* background-color: white; */
    color: white;
    border-radius: 15px;
    border: none;

    padding: 5px;
}


.sec_display
{
    font-size: 13px;
}